@import 'fonts';
@import 'color';
@import 'spacing';
@import 'effects';
@import 'animations';

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body {
    font-family: $mainFont; 
    -webkit-font-smoothing:auto;
    background-color: black;
}

.main-container {
    height:100%;
    width:100%;
    position:relative;
    
}
.background-container {
    position:absolute;
    overflow:hidden;
    width:100%;
    height: 100%;
    z-index:-1
}

.background-container::before {
    content:'';
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: -333;
    background-color:#000000;
    z-index:-999
}

.background-image {

 background: url("../images/elle.jpg");
 position:fixed;
 z-index:-444;
 background-size: cover;
 background-repeat:no-repeat;
 width:100%;
 height:100%;
 transform: scale(1.2);
 opacity:0;
 
}

.background-image::after{
    content:"";
    background:linear-gradient(to top, rgba(19, 21, 25, 0.6), rgba(19, 21, 25, 0.1));
    position:absolute;
    z-index:-5;
    height:100%;
    width:100%;
   
}

.flex-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height:100%;
    width:100%;
    padding:2rem;
    
}

.header {
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.logo{
    margin:1rem auto 0 auto;
    border-radius:100%;
    padding:20px;
    border: solid 2px $mainwhite;
    
    span {
        font-size:2rem;
        font-weight:400;
        color:$mainwhite;
        user-select:none;
    }

    img {
        width:20vw;
        max-width:70px;
    }
}

.connector{
    height:3rem;
    background-color:$mainwhite;
    width:2px;
    margin:0 auto;
}

.main-header {
    
    border-top: solid 2px $mainwhite;
    border-bottom:solid 2px $mainwhite;
    overflow:hidden;

    h1 {
        padding-top:2.5rem;
        font-size:2.5rem;
        text-align:center;
        color: $mainwhite;
        letter-spacing:5px;
        font-weight:600;
    }
    span{
        color:$mainwhite;
        display:block;
        margin:0 auto;
        text-transform:uppercase;
        text-align:center;
        letter-spacing:4px;
        font-size:1.1rem;
    }

    p {
        width:85%;
        text-align:center;
        margin:1rem auto;
        color:$mainwhite;
        text-transform: uppercase;
        font-weight:300;
        display:block;
        letter-spacing:3px;
        max-width:50vw;
        font-size:1.2rem;
        line-height:150%;
        padding-bottom:2.5rem;
        
        
        

        
    }

    

    .changing-text {
        &::after {
            opacity:0;
            content:'';
            width:1px;
            position:absolute;
            height: 1.6rem;
            border-right:solid 1px #fff;
            animation: blink 0.8s infinite steps(2,jump-end) ;
            animation-delay:1s;

        }
    }

    

}


.menu-bar {
    
    margin:0 auto;
   
}

 .menu-list{
     display: flex;
     justify-content: center;

     li {
         padding: 1rem 1.5rem;
         border-left:solid 1px #ffffff;
         border-top:solid 1px #ffffff;
         border-bottom:solid 1px #ffffff;
         width:130px;
         text-align:center;
         list-style:none;
         transition: background-color 0.1s linear;
         cursor: pointer;
         h3 {
             color: $mainwhite;
             font-size: 0.8rem;
             text-transform:uppercase;
             letter-spacing:3px;
             font-weight:300;
             vertical-align:center;
             user-select:none;   
         }


         &:hover {
             background-color:rgba(255,255,255,0.25);
             transition: background-color 0.1s linear;
         }
     }

     li:first-child {
        border-radius: 5px 0 0 5px;
     }
     li:last-child{
         border-right: solid 1px #ffffff;
         border-radius: 0 5px 5px 0
     }

 }

 .hidden {
     display:none;
 }











//About section


.card {
    background-color:rgba(27, 31, 34, 0.85);
    border-radius: 5px;
    padding:1.5rem 3rem;
    max-width:40rem;
    width:80%;
    display:none;
}

.close-icon {
    
    border-radius:50%;
    transform: translate(2rem, -0.5rem);
    
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:auto;

    &:hover {
        background-color:rgba(255, 255, 255, 0.075);
    }

    img {
        width:20px;
        height:20px;
        margin:auto;
    }
} 

.card-title {
    
    display:inline-block;
    border-bottom: solid 2px #ffffff;
    letter-spacing:6px;
    padding-bottom:5px;
    margin-bottom:$card-bottom-spacing;
    
    
    h2 {
        color:$mainwhite;
        font-size:1.6rem;
        text-transform:uppercase;
        text-align:center;
    }
}

.main-image {
    border-radius:10px;
    overflow:hidden;
    height:24vh;
    min-height:100px;
    width:100%;
    position:relative;
    margin-bottom:$card-bottom-spacing;
    
    &::before {
        content:"";
        position:absolute;
        background:url("/src/images/ducks.jpg");
        background-position-y: 28%;
        background-size: cover;
        background-repeat:no-repeat;
        z-index:3;
        width:100%;
        height:100%;
        background-color:grey;
    }
}

.card-text {
    margin-bottom: $card-bottom-spacing;
    p {
        margin-bottom:$card-bottom-spacing/2;
        font-size:1.2rem;
        color:$mainwhite;
        font-weight:300;
        line-height:130%;
    }
}



//Work Section

.work-card {
    background-color: rgba(27, 31, 34, 0.85);
    box-shadow: 5px 5px 40px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 1.5rem 3rem;
    max-width: 40rem;
    width: 80%;

}


.preloader {
    width:100%;
    height:100vh;
    clip-path: circle(0% at -40% -40%);
    background: rgb(0, 0, 0);
    box-shadow : 5px rgba(0,0,0,0.5);
    position:absolute;
    top:0%;
    right:0%;
    
}

.tech-stack {
    width:100%;
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    grid-gap: 30px 1rem;
    justify-items:center;
    align-items: center;
    img {
        width:80%;
        max-width:120px;
        max-height:110px;
        filter: saturate(0.6);
        opacity:0.8;
        transition: all 0.2s ease-in;

        &:hover {
            filter:none;
            opacity:1;
            transform: translateY(-5px) scale(1.1);
            transition: all 0.2s ease-in;
        }
    }
}

.contact {
    h2 {
        color:#ffffff;
        text-align:center;
    }
}

.link-list {
    ul {
        display:flex;
        justify-content: center;
        vertical-align:center;
        
    }

    li {
        list-style:none;
        margin: 3rem 2rem 2rem 2rem;
        img {
            width:50px;
        }
    }
}










@import 'media_queries';