@import 'fonts';
@import 'color';
@import 'spacing';

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body {
    font-family: $mainFont; 
    -webkit-font-smoothing:auto;
}

.main-container {
    height:100vh;
    width:100%;
    position:relative;
    
}

.background-image {
 background: url("../images/background2_optimized.jpg");
 position:absolute;
 z-index:-444;
 background-size: cover;
 background-repeat:no-repeat;
 width:100%;
 height:100%;

}

.background-image::after{
    content:"";
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    z-index:-5;
    height:100%;
    width:100%;
   
}

.flex-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height:100%;
    width:100%;
    padding:2rem;
    
}

.header {
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.logo{
    margin:1rem auto 0 auto;
    border-radius:100%;
    padding:20px;
    border: solid 2px $mainwhite;
    
    span {
        font-size:2rem;
        font-weight:400;
        color:$mainwhite;
    }
}

.connector{
    height:3rem;
    background-color:$mainwhite;
    width:2px;
    margin:0 auto;
}

.main-header {
    
    border-top: solid 2px $mainwhite;
    border-bottom:solid 2px $mainwhite;
    padding:2.5rem;
    

    h1 {
        font-size:2.5rem;
        text-align:center;
        color: $mainwhite;
        letter-spacing:5px;
        font-weight:600;
    }
    span{
        color:$mainwhite;
        display:block;
        margin:0 auto;
        text-transform:uppercase;
        text-align:center;
        letter-spacing:4px;
        font-size:1.1rem;
    }

    p {
        width:85%;
        text-align:center;
        margin:1rem auto;
        color:$mainwhite;
        text-transform: uppercase;
        font-weight:300;
        display:block;
        letter-spacing:2px;
        max-width:50vw;
        font-size:0.8rem;
        line-height:150%;
       
    }

}


.menu-bar {
    
    margin:0 auto;
   
}

 .menu-list{
     display: flex;
     justify-content: center;

     li {
         padding: 1rem 1.5rem;
         border-left:solid 1px #ffffff;
         border-top:solid 1px #ffffff;
         border-bottom:solid 1px #ffffff;
         width:130px;
         text-align:center;
         list-style:none;
         transition: background-color 0.1s linear;
         h3 {
             color: $mainwhite;
             font-size: 0.8rem;
             text-transform:uppercase;
             letter-spacing:3px;
             font-weight:300;
             vertical-align:center;

            
         }

         &:hover {
             background-color:rgba(255,255,255,0.25);
             transition: background-color 0.1s linear;
         }
     }

     li:first-child {
        border-radius: 5px 0 0 5px;
     }
     li:last-child{
         border-right: solid 1px #ffffff;
         border-radius: 0 5px 5px 0
     }

 }

 .hidden {
     display:none;
 }











//About section


.about-card {
    background-color:rgba(27, 31, 34, 0.85);
    border-radius: 5px;
    padding:1.5rem 3rem;
    max-width:40rem;
    width:50vw

}

.closeIcon {
    
    border-radius:50%;
    transform: translate(2rem, -0.5rem);
    
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:auto;

    &:hover {
        background-color:rgba(255, 255, 255, 0.075);
    }

    img {
        width:20px;
        height:20px;
        margin:auto;
    }
} 

.card-title {
    
    display:inline-block;
    border-bottom: solid 2px #ffffff;
    letter-spacing:6px;
    padding-bottom:5px;
    margin-bottom:$card-bottom-spacing;
    
    
    h2 {
        color:$mainwhite;
        font-size:1.6rem;
        text-transform:uppercase;
        text-align:center;
    }
}

.main-image {
    border-radius:10px;
    overflow:hidden;
    height:20vh;
    min-height:100px;
    width:100%;
    position:relative;
    margin-bottom:$card-bottom-spacing;
    
    &::before {
        content:"";
        position:absolute;
        z-index:3;
        width:100%;
        height:100%;
        background-color:grey;
    }
}

.card-text {
    margin-bottom: $card-bottom-spacing;
    p {
        margin-bottom:$card-bottom-spacing/2;
        color:$mainwhite;
        font-weight:300;
        line-height:130%;

    }
}












